@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 0 0 0;
  }

  .dark {
    --background: 0 0 0;
    --foreground: 255 255 255;
  }
  
  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}

